<h1>Semantic Search Engine</h1>
<p>Powered by <a href="https://duckduckgo.com">Duck Duck Go</a> and <a href="http://spotlight.dbpedia.org/">DBpedia Spotlight</a>.</p>
<form action="/" method="get" accept-charset="utf-8">
  <p>
    <input id="q" name="q" placeholder="query" {{#if query}}value="{{query}}"{{/if}}/>
    <input id="submit" type="submit" value="search &rarr;" />
  </p>
</form>
{{#if query}}
  <h2>Showing results for {{query}}</h2>
  <ul>
    {{#each results}}
      <li>{{.}}</li>
    {{/each}}
  </ul>
{{/if}}
